body {
  font-family: "Roboto", sans-serif;
  overscroll-behavior-y: none;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.homework-title {
  padding-top: 10px;
  text-transform: uppercase;
}
.homework-list {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-position: inside;
}
.homework-list > li {
  font-size: 22px;
  margin-bottom: 30px;
  text-transform: uppercase;
  flex-basis: 25%;
}
.homework-list > li ul {
  padding-left: 22px;
}
li {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-transform: capitalize;
}
.homework-list__item,
.homework-list__item:visited,
.repository-link,
.repository-link:visited {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease-in-out;
}
.homework-list__item:hover,
.repository-link:hover {
  cursor: pointer;
  color: rgb(60, 145, 207);
}
